<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form method="POST" action="/user_input">
      <p>Input text here: <input type="text" name="user_text"></p>
    </form>
  </body>
</html>
